:root {
    --pi4-primary-light: #d6ffab;
    --pi4-primary: #80b155;
    --pi4-primary-rgb: rgb(128, 177, 85);
    --pi4-primary-transparent: rgba(128, 177, 85, 0.5);
    --pi4-primary-dark: #729d4c;
    --pi4-primary-box-shadow:  0 0 0 0.25rem var(--pi4-primary-transparent);

    /*  */
    --pi4-secondary-light: lightgreen;
    --pi4-secondary: green;
    --pi4-secondary-dark: darkgreen;

}

.pi4-menu-item:hover {
    background-color: var(--bs-gray-800);
}
.pi4-menu-item:hover span {
    color: var(--bs-gray-400) !important;
}

.btn {
    border-radius: var(--bs-border-radius-lg);
}
.btn:active {
    filter: brightness(0.9) 
}

.btn-primary {
    color: var(--bs-white);
    background-color: var(--pi4-primary);
    border-color: var(--pi4-primary);
}

.btn-outline-primary {
    color: var(--pi4-primary);
    background-color: var(--bs-white);
    border-color: var(--pi4-primary);
}

.btn.btn-primary:hover,
.btn.btn-outline-primary:hover {
    color: var(--bs-white);
    background-color: var(--pi4-primary-dark);
    border-color: var(--pi4-primary-dark);    
}

.btn.btn-primary:focus-visible,
.btn.btn-outline-primary:focus-visible {
    color: var(--bs-white);
    background-color: var(--pi4-primary);
    border-color: var(--pi4-primary);
    outline: 0;
    box-shadow: var(--pi4-primary-box-shadow);
}


.btn-dashboard {
    background-color: var(--bs-white);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.btn-agentes {
    background-color: #BACC6A;
    color: var(--bs-white);
}

.btn.btn-agentes:hover,
.btn.btn-outline-agentes:hover {
    color: var(--bs-white);
    background-color: #a2b15b;
    border-color: #a2b15b;    
}

.btn-regiao {
    background-color: #729586;
    color: var(--bs-white);
}

.btn.btn-regiao:hover,
.btn.btn-outline-regiao:hover {
    color: var(--bs-white);
    background-color: #628173;
    border-color: #628173;    
}

/* background */
.bg-primary {
    background-color: var(--pi4-primary-transparent)!important;
}

.bg-primary-login {
    background-color: var(--pi4-primary)!important;
}

.color-text{
    color:var(--pi4-primary);
}